<html>
    <head>
    <title><%= @page_title or "Page Title" %></title>

    <! import stylesheet content here>

    </head>

    <body>
        
        <!--- Render content using the base index---->
        <% content_for :main_content do %>
            <h3> I'm from the index </h3>
            <a class='btn btn-primary'> Button </a>
        
        <% end %>
        
        <%= render template: "base" %>
    </body>
</html>