body {
    background-color: whitesmoke;
    
}

/* class tag */
.wrapper{
    display: flex;
    width: 100%;

    #content{
        margin-top: 80px;
        margin-left: 275px;
    }
}

#top-bar{
    position: fixed;
    margin-left: 250px;
    height: 55px;
    width: 100%;
    background: #000;

}

.menu-search{
    margin-left: 5px;
    margin-bottom: 5px;
}

/* id tag*/
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #000;
    color: #FFF;
    transition: all 0.3s;
    
    .sidebar-header{
        margin-top: 10px;
        text-align: center;
    }
    
    .reading-menu {
        margin-top: 15px;
        margin-left: 10px;

    }

    .sub-menu, .account-menu {
        margin-left: 10px;
    }
}

.top-nav{
    padding-top: .8vh;
    display: flex;
    justify-content: end;
}

.search-button{
    margin-left: 10px;
    margin-right: 17%;
}

#search{
    max-width:450px;
}

#searchtag{
    max-width:250px;
}