
.Genre, .Description, .TotalPages{
    display: flex;
    
}

.Title{
    display: flex;
    justify-content: space-between;
}

.BookInfo{
    margin-left: 15px;
}

.progress{
    margin-top: 15px;
    margin-bottom: 15px;
}
.GenreInfo{
    margin-left: 56px;
}

.Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
    max-height: 700px;
}

.EditBook{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
    max-height: 700px;
    margin-top: 25px;
}

.HomeButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    max-height: 700px;
    margin-top: 25px;
    margin-bottom: 75px;

}