body {
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;

    .card {
        max-width: 750px;
        max-height: 500px;
    }

    .card-title{
        margin-top: 10px;
        margin-left: 10px;
    }

    .password{
        margin-top:10px;
        margin-bottom:10px;
    }

    #home, #register{
        margin-left:auto;

    }
}

.name{
    margin-top: 30px;
}


.confirm-field{
    margin-top: 17px;
}

#first-option{
    margin-top: 15px;
    margin-bottom: 15px;
}

#login-image{
    min-height: 300px;
}

$PrimaryButtonColor: #4ebaad;
$WarningButtonColor: #f59c00;
$SuccessButtonColor: #a6c714;

.btn-primary {
    color: #FFF;
    background-color: $PrimaryButtonColor;
    border-color: $PrimaryButtonColor; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color:#000;
    background-color:$PrimaryButtonColor;
    border-color:$PrimaryButtonColor;
    transform: scale(1.025);
}

.btn-warning {
    color: #000;
    background-color: $WarningButtonColor;
    border-color: $WarningButtonColor; 
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    color:#FFF;
    background-color:$WarningButtonColor;
    border-color:$WarningButtonColor;
    transform: scale(1.025);
}

.btn-success {
    color: #000;
    background-color: $SuccessButtonColor;
    border-color: $SuccessButtonColor; 
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color:#FFF;
    background-color:$SuccessButtonColor;
    border-color:$SuccessButtonColor;
    transform: scale(1.025);
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary {
    transform: scale(1.025);
}